In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statistics as st

In [3]:
# Read the csv files
city_file_to_load = pd.read_csv("Resources/city_data.csv")
ride_file_to_load = pd.read_csv("Resources/ride_data.csv")

In [4]:
# Create a pandas DataFrame for city data
city_data_df = pd.DataFrame(city_file_to_load)
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [ ]:
# Check for any data anomaly
city_data_df.isnull()